<attributes>
	<mapAttribute>
	    <mapAttribute key="ARM GNU">
		<stringAttribute key="ToolChainVariant" value="GNU"/>
		<stringAttribute key="CommandIncludes" value="ccarm -v -dD -P -E -t4 ${INPUTS}"/>
		<stringAttribute key="ToolNames" value="ccarm"/>
	    </mapAttribute>
	    <mapAttribute key="IA GNU">
		<stringAttribute key="ToolChainVariant" value="GNU"/>
		<stringAttribute key="CommandIncludes" value="ccpentium -v -dD -P -E -march=pentium -mtune=atom -nostdlib -fno-builtin -fno-defer-pop -fno-implicit-fp ${INPUTS}"/>
		<stringAttribute key="ToolNames" value="ccpentium"/>
	    </mapAttribute>
    </mapAttribute>
</attributes>

